extends layout

include mixins/_storeCard


block content
    - const emojiList = { openLate: 'ðŸ•°ï¸', vegetarian: 'ðŸ¥—', familyFriendly: 'ðŸ‘ª', wifi: 'ðŸŒ', licensed: 'Â®ï¸' }
    .inner
        h2 #{`${ (tag) ? emojiList[tag.split(' ').join('').replace(/-/g, "").replace(/^\w/, c => c.toLowerCase())] + ' ' + tag : 'ðŸ”– Tags'}`}
        ul.tags
            each t in tags
                li.tag
                    a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
                        span.tag__text #{`${emojiList[t._id.split(' ').join('').replace(/-/g, "").replace(/^\w/, c => c.toLowerCase())]}`} #{t._id}
                        span.tag__count= t.count
        .stores
            each store in stores
                +storeCard(store)